<h1>My tasks</h1>
<ul> <% @tasks.each do |task| %>
  <li><%if task.completed == true %>
 <i class="far fa-check-circle"></i>
<% else %>
 <i class="far fa-circle"></i>
<% end %>

<%= link_to task.title , task_path(task) %>


<%= link_to task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="far fa-trash-alt"></i>
      <% end %>

<% end %>
</li>
</ul>
<%= link_to "Add a new task" , tasks_new_path %>



